/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
} 
header {
 background-color: #333;
 color: white;
 padding: 20px;
} 

body {
  margin: 0;
  margin-bottom: 50px;
  background: #f7fbff 
}


.form-control {
  width: 470px;
  padding: 14px 22px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #c1e7ff;
  border-radius: 4px;
  box-sizing: border-box;
}
a:link {
  color: white;
  }
  
  /* visited link */
  a:visited {
    color: rgb(238, 245, 238);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(30, 1, 82);
  }
  
  /* selected link */
  a:active {
    color: rgb(1, 1, 47);
  }
  
  .dropdown-menu {
    background-color: rgb(255, 255, 255) !important;
    
  }
  
  .dropdown-item {
    color: black !important; 
    
  }
  
  .dropdown-item:hover {
    background-color: #dafaec;
  }

footer {
    background-color:#6fc8c9; /* Color oscuro elegante */
    color: rgb(17, 17, 17);
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding: 13px;
    font-size: 13px;
    position: fixed;
  }